node_modules
backend/apps/__pycache__
backend/apps/__pycache__/*
backend/apps/views/user/__pycache__/*
backend/apps/migrations/__pycache__/*
backend/apps/views/post/__pycache__/*
backend/apps/views/notice/__pycache__/*
